@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------------------------------------------
        Estilo Global
------------------------------------------------------------------ */
* {
    font-family: "tahoma", sans-serif;
    margin: 0; 
    padding: 0;
    font-size: 17px;
    text-align: center;
}

html {
    background: linear-gradient( to top , gray , whitesmoke) ;
    background-repeat: no-repeat;
}

h1 { font: 700 40px 'Oswald'; margin-bottom: 10px; }
h2 { font: 700 35px 'Oswald'; margin-bottom: 10px; }

#div-responsiva {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*---------------------------------------------------------------
        Conteúdo Principal
------------------------------------------------------------------ */
.conteúdo-principal {
    background-color: whitesmoke;
    max-width: 800px;
    margin: 30px auto 0px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden; /* IMPEDE QUE OS ITENS SEJAM SUPERIOR AO BLOCO */
}

/*---------------------------------------------------------------
        Barra do Iphone
------------------------------------------------------------------ */
.barra-iphone {
    background-color: black;
    padding: 10px 30px;
    display: flex; align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}
.barra-iphone button {
    cursor: default;
    border: none;
    border-radius: 20px;
    width: 15px; height: 15px;
}

#botão-01 { background: linear-gradient( to top , whitesmoke , red , red) ; }
#botão-02 { background: linear-gradient( to top , whitesmoke , orange , orange) ; }
#botão-03 { background: linear-gradient( to top , whitesmoke , green , green) ; }

/*---------------------------------------------------------------
    Título e Texto Apresentação
------------------------------------------------------------------ */
.texto-apresentação { margin: 0px 30px; margin-bottom: 50px; }
.texto-apresentação p { font-size: 18px; text-align: justify; text-indent: 30px; } 

/*---------------------------------------------------------------
    Foto e Lista com Dados Pessoais
------------------------------------------------------------------ */
.dados-pessoais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 20px;
    margin-bottom: 50px;
}

.dados-pessoais #fotinha {
    width: 200px;
    border-radius: 20px;
}
.dados-pessoais ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    list-style: none;
    text-align: left;
}

.dados-pessoais li {
    margin-bottom: 10px;
}
.dados-pessoais .icones {
    width: 30px;
}

/*----------------------------------------------------
        Tabela com Formação Acadêmica
------------------------------------------------------ */

.table-form-academica { 
    margin-bottom: 50px; 
}
.table-form-academica table { 
    margin: 0px auto;
    border: solid 1px black; 
    overflow: hidden; 
}
.table-form-academica td {
    border: solid 1px black; 
    padding: 10px; 
    text-align: justify;
}
.table-form-academica button {
    border: solid black 1.8px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

#button-concluido { background: linear-gradient( to top , whitesmoke , green ) ; }
#button-em-aberto { background: linear-gradient( to top , whitesmoke , red ) ; }

.legenda-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.legenda-table p { 
    margin-left: 5px;  
}

/*----------------------------------------------------
        Redes Sociais
------------------------------------------------------ */
.redes-sociais {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    
}
.redes-sociais img { 
    width: 60px; 
    filter: grayscale(80%); 
}
.redes-sociais img:hover { 
    filter: none; 
}


.img-github { /*ESTILO DEDICADO A"IMG-GITHUB.PNG" */
    filter: opacity(60%);
}
.img-github:hover { /*ESTILO DEDICADO A"IMG-GITHUB.PNG" */
    filter: none;
}

/*----------------------------------------------------
        Rodapé
------------------------------------------------------ */
footer {
    position: fixed;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.80); 
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
footer img {
    width: 40px;
    filter: grayscale(80%);
}

/*---------------------------------------------------------------
        Estilo Smartphone
------------------------------------------------------------------ */

@media ( max-width: 720px ) {
    h1 { font-size: 38px; }
    h2 { font-size: 35px; }
    .conteúdo-principal { margin: 0px; border-radius: 0px; }
    .barra-iphone { padding: 20px 30px; }
    .dados-pessoais #fotinha { width: 250px; margin-bottom: 20px; }

}